<div
  class="flex max-h-full min-w-70 cursor-move flex-col rounded-2xl border border-zinc-800 bg-[#09090b] p-3 text-white"
  [class.bg-red-900!]="isDeleting()"
>
  <div class="mb-2 flex justify-between">
    <div class="flex w-full flex-col">
      <p class="p-3">{{ tasklist()?.name }}</p>
      <p-divider class="w-5/6! self-center! opacity-8!"></p-divider>
    </div>
    @if (!isDeleting()) {
    <app-edit-button-component
      (onDelete)="deleteTasklist()"
      (onEdit)="editTasklist()"
    ></app-edit-button-component>
    }
  </div>
  <div
    cdkScrollable
    cdkDropList
    [cdkDropListData]="tasklist()!.tasks"
    (cdkDropListDropped)="onDropTask($event)"
    class="mb-2 min-h-20 overflow-auto"
  >
    @for (task of tasklist()!.tasks; track task.id) {
    <div cdkDrag [cdkDragData]="task" class="my-4">
      <app-task-component
        [isDeleting]="isTaskDeleting(task)"
        (onDelete)="deleteTask($event)"
        (onEdit)="editTask($event)"
        [task]="task"
      />
    </div>
    }
  </div>

  <p-button
    (onClick)="createTask()"
    label="Create new Task"
    fluid
    severity="secondary"
    text
    size="small"
    icon="pi pi-plus"
    class="whitespace-nowrap"
  />
</div>
