<p-drawer [(visible)]="visible" header="Account">
  <div class="flex flex-col gap-4 p-4">
    <button
      (click)="createWorkspace();"
      class="flex cursor-pointer items-center gap-3 rounded-lg p-3 text-gray-500 transition hover:bg-zinc-800"
    >
      <i class="pi pi-folder-plus text-lg"></i>
      <span class="font-medium">Create new Workspace</span>
    </button>

    <p-divider class="m-0!"></p-divider>

    <button
      (click)="logout();"
      class="flex cursor-pointer items-center gap-3 rounded-lg p-3 text-red-500 transition hover:bg-zinc-800 hover:text-red-400"
    >
      <i class="pi pi-sign-out text-lg"></i>
      <span class="font-medium">Logout</span>
    </button>
  </div>
</p-drawer>

<button
  class="cursor-pointer transition-transform hover:scale-110"
  (click)="visible = true"
>
  <i class="pi pi-bars text-2xl! text-white/70"></i>
</button>
