@import "tailwindcss";
@import "primeicons/primeicons.css";

.p-inputtext:enabled:focus {
  border-color: #cbd5e1 !important;
  box-shadow: none !important;
  outline: none;
  color: aliceblue;
}

.p-select {
  background-color: rgb(24 24 28) !important;

  .p-select-label,
  .p-placeholder {
    color: rgb(168 168 179) !important;
  }

  .p-select-overlay {
    background-color: #18181c !important;
  }

  .p-select-filter {
    background-color: #09090b !important;
    color: white !important;
  }
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled):is(
    :hover,
    .p-focus
  ) {
  background-color: #27272a !important;
  color: #fafafa !important;
}

.p-select-option.p-select-option-selected {
  background-color: #fafafa !important;
  color: #09090b !important;
}

.p-select-option:not(.p-select-option-selected),
.p-select-empty-message {
  color: white !important;
}

.p-button-text.p-button-secondary {
  color: #9f9fa9 !important;

  &:hover {
    background-color: #27272a !important;
  }
}

.p-select-list-container {
  overflow-y: auto;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #27272a !important;
  cursor: default;
}

.p-dialog {
  background-color: #27272a !important;
  color: white !important;
  input,
  textarea {
    background-color: #09090b !important;
    border: 1px solid #cbd5e1 !important;
    outline: none;
  }
}

.p-menu {
  background-color: #18181b !important;
  border: 1px solid #3f3f46 !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4) !important;
  .p-menu-item-content {
    color: white !important;
  }
  .p-menu-item-content:hover {
    background-color: #ffffff !important;
    color: #3f3f46 !important;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  animation: fadeUp 500ms ease-out both;
}

.animate-down {
  animation: fadeDown 500ms ease-out both;
}
