@import 'tailwindcss';
@import 'primeicons/primeicons.css';

.p-inputtext:enabled:focus {
  border-color: #cbd5e1 !important;
  box-shadow: none !important;
  outline: none;
  color: aliceblue;
}

.p-select {
  background-color: rgb(24 24 28) !important;

  .p-select-label,
  .p-placeholder {
    color: rgb(168 168 179) !important;
  }

  .p-select-overlay {
    background-color: #18181c !important;
  }

  .p-select-filter {
    background-color: #09090b !important;
    color: white !important;
  }
}

.p-select-option:not(.p-select-option-selected):not(.p-disabled):is(:hover, .p-focus) {
  background-color: #27272a !important;
  color: #fafafa !important;
}

.p-select-option.p-select-option-selected {
  background-color: #fafafa !important;
  color: #09090b !important;
}

.p-select-option:not(.p-select-option-selected),
.p-select-empty-message {
  color: white !important;
}

.p-button-text.p-button-secondary {
  color: #9f9fa9 !important;

  &:hover {
    background-color: #27272a !important;
  }
}

.p-select-list-container {
  overflow-y: auto;
  scrollbar-width: thin;
}

.p-select-list-container::-webkit-scrollbar {
  width: 8px;
}

.p-select-list-container::-webkit-scrollbar-thumb {
  background-color: #27272a !important;
}

.p-dialog {
  background-color: #27272a !important;
  color: white !important;
  input {
    background-color: #09090b !important;
    border: 1px solid #cbd5e1 !important;
    outline: none;
  }
}
